In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob as gg
from pandas_profiling import ProfileReport

In [2]:
file_xlsx = sorted(gg('Equipo*.xlsx'))

['Equipo 2 post PARA PYTHON.xlsx']

In [3]:
flora = pd.read_excel(file_xlsx[-1])
flora

        Turno    Agente                                      Transcripción
0     PARTE 1       NaN                                                NaN
1         NaN     Sinue                               ((Lee el ejercicio))
2         NaN   Fabiola  Listo ya terminaron? la lectura? ahora es la (...
3         NaN  Angélica                                        ((Asiente))
4    01:30:00         S                                             Ah ok
..        ...       ...                                                ...
402       NaN         A  La hora doce veinticinco o una veinticinco ((b...
403       NaN         S                                   Já fueron notas?
404     13:30         A  Una venticinco(.)oye (inaudible) ((busca algo,...
405       NaN         M                             La dos la tres es esa?
406       NaN        FI                          Aquí las recojo por favor

[407 rows x 3 columns]