# Pandas pada Psicólogos
![](https://numfocus.org/wp-content/uploads/2016/07/pandas-logo-300.png)

[pandas - Python Data Analysis Library](https://pandas.pydata.org/docs/)

# Numpy para Psicólogos
![](https://user-images.githubusercontent.com/50221806/85190325-2b3f4400-b26c-11ea-93f3-81a101614a88.png)

[Numerical Python](https://numpy.org/)

## Introducción a los DataSets

In [1]:
import pandas as pd
import numpy as np
# librería "glob" — Busca nombres de archivos que coincidan con un patrón.
from glob import glob as gg
# Libería "tqdm" para ver el progreso del o de los procesos
from tqdm import tqdm
# Para que "tqdm" funcione
import time

## 1er Dataset. Datos Inventados

In [2]:
# Búsqueda de las Bases
files_xlsx = gg('*.xlsx')
files_xlsx

['Ejemplo1.xlsx', 'Ejemplo2.xlsx', 'Ejemplo3.xlsx']

In [3]:
xlsx1 = pd.read_excel(files_xlsx[0])
xlsx1.head()
# ¿El ID lo queremos como índice?

   ID  Var1  Var2  Var3  Var4  Var5        Var6  Var7  Var8      Var9  Var10
0   1  -313  -850   590  -171  -839        -277   770  -790  0.959602    699
1   2   473   473  -146  -292  -652        -774  -569   330  0.354079   -263
2   3    84   NaN   207   -56   -67  Falsedades   597  -752  0.820334    420
3   4  Nada   NaN    47     3  -422           0  -820  -699  0.428466   1983
4   5   322   859   NaN  -346   NaN          85  -627   835  0.467556   -273

In [4]:
xlsx1 = pd.read_excel(files_xlsx[0], index_col='ID')
print(xlsx1.head())
#print(' ')
#print(xlsx1.tail())

    Var1  Var2  Var3  Var4  Var5        Var6  Var7  Var8      Var9  Var10
ID
1   -313  -850   590  -171  -839        -277   770  -790  0.959602    699
2    473   473  -146  -292  -652        -774  -569   330  0.354079   -263
3     84   NaN   207   -56   -67  Falsedades   597  -752  0.820334    420
4   Nada   NaN    47     3  -422           0  -820  -699  0.428466   1983
5    322   859   NaN  -346   NaN          85  -627   835  0.467556   -273

In [5]:
# Número de observaciones que tiene el dataset
xlsx1.shape #(filas, columnas)

(20, 10)

In [6]:
xlsx1.shape[0] #quiero solo las filas

20

In [7]:
xlsx1.shape[1] #quiero solo las columnas

10

In [8]:
# Pero deseo toda la información
xlsx1.info() #¿Cómo interpretar esta información?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1 to 20
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Var1    17 non-null     object
 1   Var2    18 non-null     object
 2   Var3    18 non-null     object
 3   Var4    20 non-null     object
 4   Var5    19 non-null     object
 5   Var6    20 non-null     object
 6   Var7    20 non-null     object
 7   Var8    14 non-null     object
 8   Var9    20 non-null     float64
 9   Var10   20 non-null     int64
dtypes: float64(1), int64(1), object(8)
memory usage: 1.7+ KB

In [9]:
# Quiero saber solo las filas
xlsx1.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20],
           dtype='int64', name='ID')

In [10]:
# Quiero solo saber los nombres de las columnas
xlsx1.columns

Index(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var9',
       'Var10'],
      dtype='object')

In [11]:
print(xlsx1.Var1.unique())
print(' ')
print(list(xlsx1.Var1.unique()))

[-313 473 84 'Nada' 322 -860 700 247 -512 -386 610 -237 207 nan -671 977
 -865 -545]

[-313, 473, 84, 'Nada', 322, -860, 700, 247, -512, -386, 610, -237, 207, nan, -671, 977, -865, -545]

In [12]:
# Quiero saber los valores que convierte la columna Var1 en objeto
objetos = [tipo for tipo in xlsx1.Var1.unique() if type(tipo) == str]
objetos

['Nada']

In [13]:
objetos = []
for tipo in xlsx1.Var1.unique():
    if type(tipo) == str:
        objetos.append(tipo)
objetos

['Nada']

In [14]:
objetos = [tipo for tipo in xlsx1.Var5.unique() if type(tipo) == str]
objetos

['errores', 'Falsedades']

In [15]:
objetos = []
for tipo in xlsx1.Var5.unique():
    if type(tipo) == str:
        objetos.append(tipo)
objetos

['errores', 'Falsedades']

In [16]:
xlsx1.columns

Index(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var9',
       'Var10'],
      dtype='object')

In [17]:
# Hacerlo por cada uno toma mucho recurso de tiempo ¿Cómo mejoramos esto?
objetos = []
for columna in xlsx1.columns:
    print('En la columna {}'.format(columna))
    for tipo in xlsx1[columna].unique():
        if type(tipo) == str:
            print(tipo)
            print(' ')
            objetos.append(tipo)
            
objetos

En la columna Var1
Nada

En la columna Var2
Nada

En la columna Var3
Mentiras

En la columna Var4
Falsedades

En la columna Var5
errores

Falsedades

En la columna Var6
Falsedades

errores

En la columna Var7
Mentiras

En la columna Var8
Falsedades

En la columna Var9
En la columna Var10

['Nada',
 'Nada',
 'Mentiras',
 'Falsedades',
 'errores',
 'Falsedades',
 'Falsedades',
 'errores',
 'Mentiras',
 'Falsedades']

In [61]:
objetos = set(objetos)
objetos

{'Falsedades', 'Mentiras', 'Nada', 'errores'}

In [18]:
objetos = list(set(objetos))
objetos

['Nada', 'Falsedades', 'Mentiras', 'errores']

In [63]:
objetos

['errores', 'Falsedades', 'Nada', 'Mentiras']

In [19]:
lista1 = objetos
lista2 = np.empty(len(lista1))
print(lista2)

[-1.49166815e-154 -1.49166815e-154  1.48219694e-323  0.00000000e+000]

In [20]:
lista2[:] = np.nan
print(lista2)

[nan nan nan nan]

In [21]:
objetos3 = zip(lista1, lista2)
objetos4 = dict(objetos3)
objetos4

{'Nada': nan, 'Falsedades': nan, 'Mentiras': nan, 'errores': nan}

In [22]:
# Como debe de verse
objetos = []
for columna in xlsx1.columns:
    for tipo in xlsx1[columna].unique():
        if type(tipo) == str:
            objetos.append(tipo)
            
lista1 = list(set(objetos))
lista2 = np.empty(len(lista1))
lista2[:] = np.nan
objetos = dict(zip(lista1, lista2))
objetos

{'Nada': nan, 'Falsedades': nan, 'Mentiras': nan, 'errores': nan}

In [23]:
xlsx1

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10
ID,,,,,,,,,,
1,-313,-850,590,-171,-839,-277,770,-790,0.959602,699
2,473,473,-146,-292,-652,-774,-569,330,0.354079,-263
3,84,NaN,207,-56,-67,Falsedades,597,-752,0.820334,420
4,Nada,NaN,47,3,-422,0,-820,-699,0.428466,1983
5,322,859,NaN,-346,NaN,85,-627,835,0.467556,-273
6,-860,727,816,504,-830,-868,-756,Falsedades,0.724022,750
7,700,-507,-544,-789,-864,129,418,716,0.508727,477
8,247,-677,841,-458,errores,-814,742,-620,0.110713,-280
9,-512,573,344,-262,-595,-67,304,298,0.572773,-651
10,-386,507,876,Falsedades,38,-267,-8,712,0.422481,2020
11,610,-348,906,-202,-97,307,-308,NaN,0.506793,2005
12,-237,Nada,-853,280,-864,-964,395,NaN,0.179239,-944
13,207,436,741,217,-542,-739,-880,NaN,0.750434,995
14,NaN,871,884,-171,-624,-360,Mentiras,NaN,0.323835,-288
15,NaN,-475,NaN,991,571,375,485,NaN,0.456875,-955
16,NaN,530,995,50,377,errores,-850,NaN,0.327014,-886
17,-671,434,374,-572,Falsedades,459,-599,466,0.287966,-336
18,977,-120,486,361,-260,95,-855,409,0.668122,-424
19,-865,-719,Mentiras,450,292,-854,-635,-408,0.445474,-344
20,-545,-10,804,-978,838,568,-223,336,0.670648,244

In [24]:
xlsx1 = xlsx1.replace(objetos)
xlsx1

     Var1   Var2   Var3   Var4   Var5   Var6   Var7   Var8      Var9  Var10
ID
1  -313.0 -850.0  590.0 -171.0 -839.0 -277.0  770.0 -790.0  0.959602    699
2   473.0  473.0 -146.0 -292.0 -652.0 -774.0 -569.0  330.0  0.354079   -263
3    84.0    NaN  207.0  -56.0  -67.0    NaN  597.0 -752.0  0.820334    420
4     NaN    NaN   47.0    3.0 -422.0    0.0 -820.0 -699.0  0.428466   1983
5   322.0  859.0    NaN -346.0    NaN   85.0 -627.0  835.0  0.467556   -273
6  -860.0  727.0  816.0  504.0 -830.0 -868.0 -756.0    NaN  0.724022    750
7   700.0 -507.0 -544.0 -789.0 -864.0  129.0  418.0  716.0  0.508727    477
8   247.0 -677.0  841.0 -458.0    NaN -814.0  742.0 -620.0  0.110713   -280
9  -512.0  573.0  344.0 -262.0 -595.0  -67.0  304.0  298.0  0.572773   -651
10 -386.0  507.0  876.0    NaN   38.0 -267.0   -8.0  712.0  0.422481   2020
11  610.0 -348.0  906.0 -202.0  -97.0  307.0 -308.0    NaN  0.506793   2005
12 -237.0    NaN -853.0  280.0 -864.0 -964.0  395.0    NaN  0.179239   -944
13  207.0  436.0  741.0  217.0 -542.0 -739.0 -880.0    NaN  0.750434    995
14    NaN  871.0  884.0 -171.0 -624.0 -360.0    NaN    NaN  0.323835   -288
15    NaN -475.0    NaN  991.0  571.0  375.0  485.0    NaN  0.456875   -955
16    NaN  530.0  995.0   50.0  377.0    NaN -850.0    NaN  0.327014   -886
17 -671.0  434.0  374.0 -572.0    NaN  459.0 -599.0  466.0  0.287966   -336
18  977.0 -120.0  486.0  361.0 -260.0   95.0 -855.0  409.0  0.668122   -424
19 -865.0 -719.0    NaN  450.0  292.0 -854.0 -635.0 -408.0  0.445474   -344
20 -545.0  -10.0  804.0 -978.0  838.0  568.0 -223.0  336.0  0.670648    244

## ¿Se acuerdan de las demás bases?

In [25]:
print(files_xlsx)

['Ejemplo1.xlsx', 'Ejemplo2.xlsx', 'Ejemplo3.xlsx']

### ¿Qué función aplicamos y cómo lo aplicamos para que haga todo de una buena vez?
#### ¿Se acuerdan del "Ciclo FOR"?

In [26]:
print(files_xlsx[0])
print(pd.read_excel(files_xlsx[0], index_col='ID').head())
print(' ')
print(files_xlsx[1])
print(pd.read_excel(files_xlsx[1], index_col='ID').head())
print(' ')
print(files_xlsx[2])
print(pd.read_excel(files_xlsx[2], index_col='ID').head())

Ejemplo1.xlsx
    Var1  Var2  Var3  Var4  Var5        Var6  Var7  Var8      Var9  Var10
ID
1   -313  -850   590  -171  -839        -277   770  -790  0.959602    699
2    473   473  -146  -292  -652        -774  -569   330  0.354079   -263
3     84   NaN   207   -56   -67  Falsedades   597  -752  0.820334    420
4   Nada   NaN    47     3  -422           0  -820  -699  0.428466   1983
5    322   859   NaN  -346   NaN          85  -627   835  0.467556   -273

Ejemplo2.xlsx
       Var21     Var22     Var23     Var24     Var25     Var26      Var27  \
ID
1   8.226895  2.938617  8.440861  2.633110  8.948942  5.390803  10.484627
2   7.758571  2.675094  7.454070  2.176030  8.239736  5.073068   9.785837
3   7.238483  2.648811  7.091948  2.015311  7.673448  4.830851   9.722650
4   6.685766  1.681903  6.849771  1.677720  7.180970  4.156083   9.525325
5   6.212685  1.443076  6.748141  0.700698  6.510966  3.473193   8.623674

       Var28     Var29     Var30
ID
1   3.029325  7.640019  2.622703
2   2.958129  7.441848  1.985383
3   2.722054  6.483875  1.627964
4   1.794001  5.695190  0.778558
5   1.727131  5.653015       NaN

Ejemplo3.xlsx
   Var11  Var12 Var13    Var14 Var15    Var16 Var17 Var18 Var19 Var20
ID
1   1961   1925  1982     1939  1986     1920  1950  1935  1929  1935
2   1966   2000  1930  Abrazos    No  Balazos  1963  1982  1964  1894
3   1903   1936  1899     1921  1965     1948  2012  1996  1893  1906
4   1929   2011  1951     2004  1954     1949  1919  1986  1913  1915
5   1925   2000  1924     1997  1904     1901  1998  1936  1961  1948

In [93]:
for base in files_xlsx:
    print(base)

Ejemplo1.xlsx
Ejemplo2.xlsx
Ejemplo3.xlsx

In [27]:
for mi_base in tqdm(files_xlsx):
    print('Se arreglará el archivo {} como usted lo pidió'.format(mi_base))
    xlsx = pd.read_excel(mi_base, index_col='ID')
    objetos = []
    for columna in xlsx.columns:
        for tipo in xlsx[columna].unique():
            if type(tipo) == str:
                objetos.append(tipo)

    lista1 = list(set(objetos))
    lista2 = np.empty(len(lista1))
    lista2[:] = np.nan
    objetos = dict(zip(lista1, lista2))
    time.sleep(0.01)

100%|██████████| 3/3 [00:00<00:00, 48.45it/s]

Se arreglará el archivo Ejemplo1.xlsx como usted lo pidió
Se arreglará el archivo Ejemplo2.xlsx como usted lo pidió
Se arreglará el archivo Ejemplo3.xlsx como usted lo pidió

In [28]:
# ¿Son todos los objetos de todas las bases?
objetos

{'Guerras': nan,
 'Balazos': nan,
 'Hora': nan,
 'Abrazos': nan,
 'Desvalorización': nan,
 'Soberbia': nan,
 'Maldita': nan,
 'No': nan,
 'Que': nan,
 'La': nan,
 'Conocí': nan,
 'Te ': nan,
 'Burlas': nan}

In [29]:
# ¿Porqué está dando solo el archivo "Ejemplo3.xlsx?"
# ¿Y los demás?
xlsx

,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,Var19,Var20
ID,,,,,,,,,,
1,1961,1925,1982,1939,1986,1920,1950,1935,1929,1935
2,1966,2000,1930,Abrazos,No,Balazos,1963,1982,1964,1894
3,1903,1936,1899,1921,1965,1948,2012,1996,1893,1906
4,1929,2011,1951,2004,1954,1949,1919,1986,1913,1915
5,1925,2000,1924,1997,1904,1901,1998,1936,1961,1948
6,1930,1908,2014,1961,1924,1957,1897,1967,1945,1919
7,1971,2000,1984,1926,1963,1896,2011,1985,1943,1904
8,1937,1907,1911,Maldita,La,Hora,Que,Te,Conocí,1993
9,1980,1912,1917,2009,2006,2007,1920,1939,1941,1940
10,1949,1946,2018,2011,1893,2010,1944,1905,1930,2009
11,1893,1951,1990,1918,1968,1932,1994,1979,1932,1963
12,Guerras,1900,2013,1946,1976,1970,1979,2007,1913,2003
13,2014,2002,Soberbia,1995,1954,1912,1916,1961,1944,1927
14,1946,1916,1978,1991,1935,1936,1893,2000,2008,Burlas
15,1978,1953,1949,1911,1962,1970,1972,1895,1997,1999
16,1998,1955,1996,Desvalorización,1917,1963,1936,1933,1954,1981
17,1929,1952,2015,1907,1897,1963,1911,1942,1902,1911
18,2009,2012,1991,2018,1971,1926,1907,1981,2017,1969
19,2011,1965,1971,1954,1973,1992,1998,1903,1967,1944
20,1909,1904,1907,1947,1943,1936,1904,2003,1957,1956

In [30]:
xlsx.replace(objetos)

,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,Var19,Var20
ID,,,,,,,,,,
1,1961.0,1925,1982.0,1939.0,1986.0,1920.0,1950.0,1935.0,1929.0,1935.0
2,1966.0,2000,1930.0,NaN,NaN,NaN,1963.0,1982.0,1964.0,1894.0
3,1903.0,1936,1899.0,1921.0,1965.0,1948.0,2012.0,1996.0,1893.0,1906.0
4,1929.0,2011,1951.0,2004.0,1954.0,1949.0,1919.0,1986.0,1913.0,1915.0
5,1925.0,2000,1924.0,1997.0,1904.0,1901.0,1998.0,1936.0,1961.0,1948.0
6,1930.0,1908,2014.0,1961.0,1924.0,1957.0,1897.0,1967.0,1945.0,1919.0
7,1971.0,2000,1984.0,1926.0,1963.0,1896.0,2011.0,1985.0,1943.0,1904.0
8,1937.0,1907,1911.0,NaN,NaN,NaN,NaN,NaN,NaN,1993.0
9,1980.0,1912,1917.0,2009.0,2006.0,2007.0,1920.0,1939.0,1941.0,1940.0
10,1949.0,1946,2018.0,2011.0,1893.0,2010.0,1944.0,1905.0,1930.0,2009.0
11,1893.0,1951,1990.0,1918.0,1968.0,1932.0,1994.0,1979.0,1932.0,1963.0
12,NaN,1900,2013.0,1946.0,1976.0,1970.0,1979.0,2007.0,1913.0,2003.0
13,2014.0,2002,NaN,1995.0,1954.0,1912.0,1916.0,1961.0,1944.0,1927.0
14,1946.0,1916,1978.0,1991.0,1935.0,1936.0,1893.0,2000.0,2008.0,NaN
15,1978.0,1953,1949.0,1911.0,1962.0,1970.0,1972.0,1895.0,1997.0,1999.0
16,1998.0,1955,1996.0,NaN,1917.0,1963.0,1936.0,1933.0,1954.0,1981.0
17,1929.0,1952,2015.0,1907.0,1897.0,1963.0,1911.0,1942.0,1902.0,1911.0
18,2009.0,2012,1991.0,2018.0,1971.0,1926.0,1907.0,1981.0,2017.0,1969.0
19,2011.0,1965,1971.0,1954.0,1973.0,1992.0,1998.0,1903.0,1967.0,1944.0
20,1909.0,1904,1907.0,1947.0,1943.0,1936.0,1904.0,2003.0,1957.0,1956.0

## Vamonos despacito

In [31]:
## Este script solo es para obtener los objetos

objetos = [] # Para los objetos que no nos sirve

for mi_base in tqdm(files_xlsx):
    print('Se arreglará el archivo {} como usted lo pidió'.format(mi_base))
    xlsx = pd.read_excel(mi_base, index_col='ID')
    for columna in xlsx.columns:
        for tipo in xlsx[columna].unique():
            if type(tipo) == str:
                objetos.append(tipo)
    time.sleep(0.01)

100%|██████████| 3/3 [00:00<00:00, 30.85it/s]

Se arreglará el archivo Ejemplo1.xlsx como usted lo pidió
Se arreglará el archivo Ejemplo2.xlsx como usted lo pidió
Se arreglará el archivo Ejemplo3.xlsx como usted lo pidió

In [32]:
# Aquí hacemos nuestro diccionario de objetos a quitar
lista1 = list(set(objetos))
lista2 = np.empty(len(lista1))
lista2[:] = np.nan
objetos = dict(zip(lista1, lista2))

In [33]:
objetos

{'Nada': nan,
 'Guerras': nan,
 'Falsedades': nan,
 'Balazos': nan,
 'Hora': nan,
 'Abrazos': nan,
 'Desvalorización': nan,
 'Mentiras': nan,
 'Soberbia': nan,
 'Maldita': nan,
 'No': nan,
 'Que': nan,
 'errores': nan,
 'Conocí': nan,
 'Te ': nan,
 'Burlas': nan,
 'La': nan}

In [3]:
import pandas as pd
import numpy as np
from glob import glob as gg

In [4]:
files_xlsx = gg('*.xlsx')
files_xlsx

['Ejemplo1.xlsx', 'Ejemplo2.xlsx', 'Ejemplo3.xlsx']

In [6]:
## Concatenando bases
x1 = pd.read_excel(files_xlsx[0], index_col='ID')
print(x1.axes)
print(x1.shape)
print(' ')
x2 = pd.read_excel(files_xlsx[1], index_col='ID')
print(x2.axes)
print(x2.shape)
print(' ')
x3 = pd.read_excel(files_xlsx[2], index_col='ID')
print(x3.axes)
print(x3.shape)

[Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20],
           dtype='int64', name='ID'), Index(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var9',
       'Var10'],
      dtype='object')]
(20, 10)

[Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20],
           dtype='int64', name='ID'), Index(['Var21', 'Var22', 'Var23', 'Var24', 'Var25', 'Var26', 'Var27', 'Var28',
       'Var29', 'Var30'],
      dtype='object')]
(20, 10)

[Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20],
           dtype='int64', name='ID'), Index(['Var11', 'Var12', 'Var13', 'Var14', 'Var15', 'Var16', 'Var17', 'Var18',
       'Var19', 'Var20'],
      dtype='object')]
(20, 10)

In [7]:
xlsx = pd.concat([x1, x2, x3])
xlsx
## ¿Qué pasó aquí?

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,Var19,Var20
ID,,,,,,,,,,,,,,,,,,,,,
1,-313,-850,590,-171,-839,-277,770,-790,0.959602,699.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,473,473,-146,-292,-652,-774,-569,330,0.354079,-263.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,84,NaN,207,-56,-67,Falsedades,597,-752,0.820334,420.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nada,NaN,47,3,-422,0,-820,-699,0.428466,1983.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,322,859,NaN,-346,NaN,85,-627,835,0.467556,-273.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-860,727,816,504,-830,-868,-756,Falsedades,0.724022,750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,700,-507,-544,-789,-864,129,418,716,0.508727,477.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,247,-677,841,-458,errores,-814,742,-620,0.110713,-280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-512,573,344,-262,-595,-67,304,298,0.572773,-651.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-386,507,876,Falsedades,38,-267,-8,712,0.422481,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,610,-348,906,-202,-97,307,-308,NaN,0.506793,2005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,-237,Nada,-853,280,-864,-964,395,NaN,0.179239,-944.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,207,436,741,217,-542,-739,-880,NaN,0.750434,995.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,871,884,-171,-624,-360,Mentiras,NaN,0.323835,-288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,-475,NaN,991,571,375,485,NaN,0.456875,-955.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,530,995,50,377,errores,-850,NaN,0.327014,-886.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,-671,434,374,-572,Falsedades,459,-599,466,0.287966,-336.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,977,-120,486,361,-260,95,-855,409,0.668122,-424.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,-865,-719,Mentiras,450,292,-854,-635,-408,0.445474,-344.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,-545,-10,804,-978,838,568,-223,336,0.670648,244.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1961,1925.0,1982,1939,1986,1920,1950,1935,1929,1935
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1966,2000.0,1930,Abrazos,No,Balazos,1963,1982,1964,1894
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1903,1936.0,1899,1921,1965,1948,2012,1996,1893,1906
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1929,2011.0,1951,2004,1954,1949,1919,1986,1913,1915
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1925,2000.0,1924,1997,1904,1901,1998,1936,1961,1948
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1930,1908.0,2014,1961,1924,1957,1897,1967,1945,1919
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1971,2000.0,1984,1926,1963,1896,2011,1985,1943,1904
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1937,1907.0,1911,Maldita,La,Hora,Que,Te,Conocí,1993
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1980,1912.0,1917,2009,2006,2007,1920,1939,1941,1940
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1949,1946.0,2018,2011,1893,2010,1944,1905,1930,2009
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1893,1951.0,1990,1918,1968,1932,1994,1979,1932,1963
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Guerras,1900.0,2013,1946,1976,1970,1979,2007,1913,2003
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2014,2002.0,Soberbia,1995,1954,1912,1916,1961,1944,1927
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1946,1916.0,1978,1991,1935,1936,1893,2000,2008,Burlas
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1978,1953.0,1949,1911,1962,1970,1972,1895,1997,1999
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1998,1955.0,1996,Desvalorización,1917,1963,1936,1933,1954,1981
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1929,1952.0,2015,1907,1897,1963,1911,1942,1902,1911
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2009,2012.0,1991,2018,1971,1926,1907,1981,2017,1969
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2011,1965.0,1971,1954,1973,1992,1998,1903,1967,1944
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1909,1904.0,1907,1947,1943,1936,1904,2003,1957,1956

In [8]:
xlsx = pd.concat([x1, x2, x3], axis=1)
xlsx
## ¿Por qué se tiene que colocar el argumento de "axis=1"?

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,Var19,Var20
ID,,,,,,,,,,,,,,,,,,,,,
1,-313,-850,590,-171,-839,-277,770,-790,0.959602,699,...,1961,1925,1982,1939,1986,1920,1950,1935,1929,1935
2,473,473,-146,-292,-652,-774,-569,330,0.354079,-263,...,1966,2000,1930,Abrazos,No,Balazos,1963,1982,1964,1894
3,84,NaN,207,-56,-67,Falsedades,597,-752,0.820334,420,...,1903,1936,1899,1921,1965,1948,2012,1996,1893,1906
4,Nada,NaN,47,3,-422,0,-820,-699,0.428466,1983,...,1929,2011,1951,2004,1954,1949,1919,1986,1913,1915
5,322,859,NaN,-346,NaN,85,-627,835,0.467556,-273,...,1925,2000,1924,1997,1904,1901,1998,1936,1961,1948
6,-860,727,816,504,-830,-868,-756,Falsedades,0.724022,750,...,1930,1908,2014,1961,1924,1957,1897,1967,1945,1919
7,700,-507,-544,-789,-864,129,418,716,0.508727,477,...,1971,2000,1984,1926,1963,1896,2011,1985,1943,1904
8,247,-677,841,-458,errores,-814,742,-620,0.110713,-280,...,1937,1907,1911,Maldita,La,Hora,Que,Te,Conocí,1993
9,-512,573,344,-262,-595,-67,304,298,0.572773,-651,...,1980,1912,1917,2009,2006,2007,1920,1939,1941,1940
10,-386,507,876,Falsedades,38,-267,-8,712,0.422481,2020,...,1949,1946,2018,2011,1893,2010,1944,1905,1930,2009
11,610,-348,906,-202,-97,307,-308,NaN,0.506793,2005,...,1893,1951,1990,1918,1968,1932,1994,1979,1932,1963
12,-237,Nada,-853,280,-864,-964,395,NaN,0.179239,-944,...,Guerras,1900,2013,1946,1976,1970,1979,2007,1913,2003
13,207,436,741,217,-542,-739,-880,NaN,0.750434,995,...,2014,2002,Soberbia,1995,1954,1912,1916,1961,1944,1927
14,NaN,871,884,-171,-624,-360,Mentiras,NaN,0.323835,-288,...,1946,1916,1978,1991,1935,1936,1893,2000,2008,Burlas
15,NaN,-475,NaN,991,571,375,485,NaN,0.456875,-955,...,1978,1953,1949,1911,1962,1970,1972,1895,1997,1999
16,NaN,530,995,50,377,errores,-850,NaN,0.327014,-886,...,1998,1955,1996,Desvalorización,1917,1963,1936,1933,1954,1981
17,-671,434,374,-572,Falsedades,459,-599,466,0.287966,-336,...,1929,1952,2015,1907,1897,1963,1911,1942,1902,1911
18,977,-120,486,361,-260,95,-855,409,0.668122,-424,...,2009,2012,1991,2018,1971,1926,1907,1981,2017,1969
19,-865,-719,Mentiras,450,292,-854,-635,-408,0.445474,-344,...,2011,1965,1971,1954,1973,1992,1998,1903,1967,1944
20,-545,-10,804,-978,838,568,-223,336,0.670648,244,...,1909,1904,1907,1947,1943,1936,1904,2003,1957,1956

In [9]:
xlsx.columns

Index(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var9',
       'Var10', 'Var21', 'Var22', 'Var23', 'Var24', 'Var25', 'Var26', 'Var27',
       'Var28', 'Var29', 'Var30', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15',
       'Var16', 'Var17', 'Var18', 'Var19', 'Var20'],
      dtype='object')

In [10]:
xlsx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1 to 20
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Var1    17 non-null     object
 1   Var2    18 non-null     object
 2   Var3    18 non-null     object
 3   Var4    20 non-null     object
 4   Var5    19 non-null     object
 5   Var6    20 non-null     object
 6   Var7    20 non-null     object
 7   Var8    14 non-null     object
 8   Var9    20 non-null     float64
 9   Var10   20 non-null     int64
 10  Var21   19 non-null     float64
 11  Var22   13 non-null     float64
 12  Var23   19 non-null     float64
 13  Var24   19 non-null     float64
 14  Var25   20 non-null     float64
 15  Var26   19 non-null     float64
 16  Var27   20 non-null     float64
 17  Var28   19 non-null     float64
 18  Var29   19 non-null     float64
 19  Var30   19 non-null     float64
 20  Var11   20 non-null     object
 21  Var12   20 non-null     int64
 22  Var13   20 non-null     object
 23  Var14   20 non-null     object
 24  Var15   20 non-null     object
 25  Var16   20 non-null     object
 26  Var17   20 non-null     object
 27  Var18   20 non-null     object
 28  Var19   20 non-null     object
 29  Var20   20 non-null     object
dtypes: float64(11), int64(2), object(17)
memory usage: 4.8+ KB

In [11]:
objetos = [] # Para los objetos que no nos sirve

for columna in xlsx.columns:
    for tipo in xlsx[columna].unique():
        if type(tipo) == str:
            objetos.append(tipo)
time.sleep(0.01)
# Aquí hacemos nuestro diccionario de objetos a quitar
lista1 = list(set(objetos))
lista2 = np.empty(len(lista1))
lista2[:] = np.nan
objetos = dict(zip(lista1, lista2))

In [12]:
## Reemplazamos los objetos
xlsx = xlsx.replace(objetos)
xlsx

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,Var19,Var20
ID,,,,,,,,,,,,,,,,,,,,,
1,-313.0,-850.0,590.0,-171.0,-839.0,-277.0,770.0,-790.0,0.959602,699,...,1961.0,1925,1982.0,1939.0,1986.0,1920.0,1950.0,1935.0,1929.0,1935.0
2,473.0,473.0,-146.0,-292.0,-652.0,-774.0,-569.0,330.0,0.354079,-263,...,1966.0,2000,1930.0,NaN,NaN,NaN,1963.0,1982.0,1964.0,1894.0
3,84.0,NaN,207.0,-56.0,-67.0,NaN,597.0,-752.0,0.820334,420,...,1903.0,1936,1899.0,1921.0,1965.0,1948.0,2012.0,1996.0,1893.0,1906.0
4,NaN,NaN,47.0,3.0,-422.0,0.0,-820.0,-699.0,0.428466,1983,...,1929.0,2011,1951.0,2004.0,1954.0,1949.0,1919.0,1986.0,1913.0,1915.0
5,322.0,859.0,NaN,-346.0,NaN,85.0,-627.0,835.0,0.467556,-273,...,1925.0,2000,1924.0,1997.0,1904.0,1901.0,1998.0,1936.0,1961.0,1948.0
6,-860.0,727.0,816.0,504.0,-830.0,-868.0,-756.0,NaN,0.724022,750,...,1930.0,1908,2014.0,1961.0,1924.0,1957.0,1897.0,1967.0,1945.0,1919.0
7,700.0,-507.0,-544.0,-789.0,-864.0,129.0,418.0,716.0,0.508727,477,...,1971.0,2000,1984.0,1926.0,1963.0,1896.0,2011.0,1985.0,1943.0,1904.0
8,247.0,-677.0,841.0,-458.0,NaN,-814.0,742.0,-620.0,0.110713,-280,...,1937.0,1907,1911.0,NaN,NaN,NaN,NaN,NaN,NaN,1993.0
9,-512.0,573.0,344.0,-262.0,-595.0,-67.0,304.0,298.0,0.572773,-651,...,1980.0,1912,1917.0,2009.0,2006.0,2007.0,1920.0,1939.0,1941.0,1940.0
10,-386.0,507.0,876.0,NaN,38.0,-267.0,-8.0,712.0,0.422481,2020,...,1949.0,1946,2018.0,2011.0,1893.0,2010.0,1944.0,1905.0,1930.0,2009.0
11,610.0,-348.0,906.0,-202.0,-97.0,307.0,-308.0,NaN,0.506793,2005,...,1893.0,1951,1990.0,1918.0,1968.0,1932.0,1994.0,1979.0,1932.0,1963.0
12,-237.0,NaN,-853.0,280.0,-864.0,-964.0,395.0,NaN,0.179239,-944,...,NaN,1900,2013.0,1946.0,1976.0,1970.0,1979.0,2007.0,1913.0,2003.0
13,207.0,436.0,741.0,217.0,-542.0,-739.0,-880.0,NaN,0.750434,995,...,2014.0,2002,NaN,1995.0,1954.0,1912.0,1916.0,1961.0,1944.0,1927.0
14,NaN,871.0,884.0,-171.0,-624.0,-360.0,NaN,NaN,0.323835,-288,...,1946.0,1916,1978.0,1991.0,1935.0,1936.0,1893.0,2000.0,2008.0,NaN
15,NaN,-475.0,NaN,991.0,571.0,375.0,485.0,NaN,0.456875,-955,...,1978.0,1953,1949.0,1911.0,1962.0,1970.0,1972.0,1895.0,1997.0,1999.0
16,NaN,530.0,995.0,50.0,377.0,NaN,-850.0,NaN,0.327014,-886,...,1998.0,1955,1996.0,NaN,1917.0,1963.0,1936.0,1933.0,1954.0,1981.0
17,-671.0,434.0,374.0,-572.0,NaN,459.0,-599.0,466.0,0.287966,-336,...,1929.0,1952,2015.0,1907.0,1897.0,1963.0,1911.0,1942.0,1902.0,1911.0
18,977.0,-120.0,486.0,361.0,-260.0,95.0,-855.0,409.0,0.668122,-424,...,2009.0,2012,1991.0,2018.0,1971.0,1926.0,1907.0,1981.0,2017.0,1969.0
19,-865.0,-719.0,NaN,450.0,292.0,-854.0,-635.0,-408.0,0.445474,-344,...,2011.0,1965,1971.0,1954.0,1973.0,1992.0,1998.0,1903.0,1967.0,1944.0
20,-545.0,-10.0,804.0,-978.0,838.0,568.0,-223.0,336.0,0.670648,244,...,1909.0,1904,1907.0,1947.0,1943.0,1936.0,1904.0,2003.0,1957.0,1956.0

In [13]:
xlsx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1 to 20
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Var1    16 non-null     float64
 1   Var2    17 non-null     float64
 2   Var3    17 non-null     float64
 3   Var4    19 non-null     float64
 4   Var5    17 non-null     float64
 5   Var6    18 non-null     float64
 6   Var7    19 non-null     float64
 7   Var8    13 non-null     float64
 8   Var9    20 non-null     float64
 9   Var10   20 non-null     int64
 10  Var21   19 non-null     float64
 11  Var22   13 non-null     float64
 12  Var23   19 non-null     float64
 13  Var24   19 non-null     float64
 14  Var25   20 non-null     float64
 15  Var26   19 non-null     float64
 16  Var27   20 non-null     float64
 17  Var28   19 non-null     float64
 18  Var29   19 non-null     float64
 19  Var30   19 non-null     float64
 20  Var11   19 non-null     float64
 21  Var12   20 non-null     int64
 22  Var13   19 non-null     float64
 23  Var14   17 non-null     float64
 24  Var15   18 non-null     float64
 25  Var16   18 non-null     float64
 26  Var17   19 non-null     float64
 27  Var18   19 non-null     float64
 28  Var19   19 non-null     float64
 29  Var20   19 non-null     float64
dtypes: float64(28), int64(2)
memory usage: 4.8 KB

In [14]:
## Queremos ordenar las variables
xlsx = xlsx.sort_index(axis=1)
xlsx.axes
#¿Por qué las columnas están de manera diferente?

[Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
             20],
            dtype='int64', name='ID'),
 Index(['Var1', 'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15', 'Var16',
        'Var17', 'Var18', 'Var19', 'Var2', 'Var20', 'Var21', 'Var22', 'Var23',
        'Var24', 'Var25', 'Var26', 'Var27', 'Var28', 'Var29', 'Var3', 'Var30',
        'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var9'],
       dtype='object')]

In [15]:
xlsx.describe()

,Var1,Var10,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,...,Var28,Var29,Var3,Var30,Var4,Var5,Var6,Var7,Var8,Var9
count,16.000000,20.000000,19.000000,20.000000,19.000000,17.000000,18.000000,18.000000,19.000000,19.000000,...,19.000000,19.000000,17.000000,19.000000,19.000000,17.000000,18.000000,19.000000,13.000000,20.000000
mean,-48.062500,197.450000,1954.631579,1952.750000,1965.263158,1962.058824,1949.500000,1949.333333,1948.631579,1959.736842,...,2.412791,3.599389,433.411765,3.069803,-75.842105,-267.058824,-220.333333,-179.947368,64.076923,0.499258
std,578.409598,959.319467,37.214410,39.435323,40.433542,38.954253,31.790213,33.210558,41.069332,35.577524,...,1.540922,2.435942,540.102775,1.634772,476.073438,539.232032,510.430268,607.291663,618.301095,0.216211
min,-865.000000,-955.000000,1893.000000,1900.000000,1899.000000,1907.000000,1893.000000,1896.000000,1893.000000,1895.000000,...,0.144162,0.125853,-853.000000,0.607891,-978.000000,-864.000000,-964.000000,-880.000000,-790.000000,0.110713
25%,-520.250000,-364.000000,1929.000000,1915.000000,1927.000000,1926.000000,1926.750000,1927.500000,1913.500000,1935.500000,...,1.287967,1.514115,207.000000,1.950482,-319.000000,-652.000000,-765.250000,-695.500000,-620.000000,0.347313
50%,-76.500000,-268.000000,1949.000000,1951.500000,1978.000000,1954.000000,1958.000000,1948.500000,1944.000000,1967.000000,...,2.279395,3.609155,590.000000,2.755617,-171.000000,-422.000000,-167.000000,-308.000000,330.000000,0.462216
75%,359.750000,711.750000,1979.000000,2000.000000,1993.500000,1997.000000,1970.250000,1968.250000,1986.500000,1985.500000,...,3.384477,5.642759,841.000000,3.991129,248.500000,38.000000,120.500000,406.500000,466.000000,0.668754
max,977.000000,2020.000000,2014.000000,2012.000000,2018.000000,2018.000000,2006.000000,2010.000000,2012.000000,2007.000000,...,5.354321,7.640019,995.000000,6.123552,991.000000,838.000000,568.000000,770.000000,835.000000,0.959602

In [17]:
# Ver por separado los descriptivos
conteo = xlsx.count()
print(conteo)

Var1     16
Var10    20
Var11    19
Var12    20
Var13    19
Var14    17
Var15    18
Var16    18
Var17    19
Var18    19
Var19    19
Var2     17
Var20    19
Var21    19
Var22    13
Var23    19
Var24    19
Var25    20
Var26    19
Var27    20
Var28    19
Var29    19
Var3     17
Var30    19
Var4     19
Var5     17
Var6     18
Var7     19
Var8     13
Var9     20
dtype: int64

In [18]:
tiene_nans = xlsx.isna()
print(tiene_nans)

     Var1  Var10  Var11  Var12  Var13  Var14  Var15  Var16  Var17  Var18  ...  \
ID                                                                        ...
1   False  False  False  False  False  False  False  False  False  False  ...
2   False  False  False  False  False   True   True   True  False  False  ...
3   False  False  False  False  False  False  False  False  False  False  ...
4    True  False  False  False  False  False  False  False  False  False  ...
5   False  False  False  False  False  False  False  False  False  False  ...
6   False  False  False  False  False  False  False  False  False  False  ...
7   False  False  False  False  False  False  False  False  False  False  ...
8   False  False  False  False  False   True   True   True   True   True  ...
9   False  False  False  False  False  False  False  False  False  False  ...
10  False  False  False  False  False  False  False  False  False  False  ...
11  False  False  False  False  False  False  False  False  False  False  ...
12  False  False   True  False  False  False  False  False  False  False  ...
13  False  False  False  False   True  False  False  False  False  False  ...
14   True  False  False  False  False  False  False  False  False  False  ...
15   True  False  False  False  False  False  False  False  False  False  ...
16   True  False  False  False  False   True  False  False  False  False  ...
17  False  False  False  False  False  False  False  False  False  False  ...
18  False  False  False  False  False  False  False  False  False  False  ...
19  False  False  False  False  False  False  False  False  False  False  ...
20  False  False  False  False  False  False  False  False  False  False  ...

    Var28  Var29   Var3  Var30   Var4   Var5   Var6   Var7   Var8   Var9
ID
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False   True  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False   True   True  False   True  False  False  False  False
6   False  False  False  False  False  False  False  False   True  False
7    True  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False   True  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False   True  False  False  False  False  False
11  False  False  False  False  False  False  False  False   True  False
12  False  False  False  False  False  False  False  False   True  False
13  False  False  False  False  False  False  False  False   True  False
14  False  False  False  False  False  False  False   True   True  False
15  False  False   True  False  False  False  False  False   True  False
16  False  False  False  False  False  False   True  False   True  False
17  False  False  False  False  False   True  False  False  False  False
18  False  False  False  False  False  False  False  False  False  False
19  False   True   True  False  False  False  False  False  False  False
20  False  False  False  False  False  False  False  False  False  False

[20 rows x 30 columns]

In [19]:
cuantos_nan = xlsx.isna().sum()
print(cuantos_nan)

Var1     4
Var10    0
Var11    1
Var12    0
Var13    1
Var14    3
Var15    2
Var16    2
Var17    1
Var18    1
Var19    1
Var2     3
Var20    1
Var21    1
Var22    7
Var23    1
Var24    1
Var25    0
Var26    1
Var27    0
Var28    1
Var29    1
Var3     3
Var30    1
Var4     1
Var5     3
Var6     2
Var7     1
Var8     7
Var9     0
dtype: int64

In [20]:
conteo + cuantos_nan

Var1     20
Var10    20
Var11    20
Var12    20
Var13    20
Var14    20
Var15    20
Var16    20
Var17    20
Var18    20
Var19    20
Var2     20
Var20    20
Var21    20
Var22    20
Var23    20
Var24    20
Var25    20
Var26    20
Var27    20
Var28    20
Var29    20
Var3     20
Var30    20
Var4     20
Var5     20
Var6     20
Var7     20
Var8     20
Var9     20
dtype: int64

In [21]:
xlsx.mean(axis=1)

ID
1     611.410517
2     456.848216
3     709.459847
4     702.480491
5     755.205931
6     676.680237
7     667.683200
8     307.896482
9     656.678252
10    826.535237
11    800.846474
12    559.473081
13    695.503665
14    717.467336
15    762.967468
16    714.701140
17    675.022904
18    682.844307
19    593.015124
20    680.207878
dtype: float64

In [22]:
xlsx.median(axis=1)

ID
1       8.694901
2       7.454070
3      46.861325
4       7.015370
5      85.000000
6     255.818847
7     129.000000
8       5.266961
9       6.285009
10    272.500000
11    156.092250
12      3.775750
13    212.000000
14      3.384843
15    375.000000
16     50.000000
17    188.478254
18     48.734412
19      1.399294
20    122.488909
dtype: float64

In [23]:
xlsx.mode()

,Var1,Var10,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,...,Var28,Var29,Var3,Var30,Var4,Var5,Var6,Var7,Var8,Var9
0,-865.0,-955,1929.0,2000.0,1899.0,1907.0,1954.0,1936.0,1998.0,1895.0,...,0.144162,0.125853,-853.0,0.607891,-171.0,-864.0,-964.0,-880.0,-790.0,0.110713
1,-860.0,-944,NaN,NaN,1907.0,1911.0,NaN,1963.0,NaN,1903.0,...,0.294609,0.152208,-544.0,0.778558,NaN,NaN,-868.0,-855.0,-752.0,0.179239
2,-671.0,-886,NaN,NaN,1911.0,1918.0,NaN,1970.0,NaN,1905.0,...,0.610383,0.261503,-146.0,1.198318,NaN,NaN,-854.0,-850.0,-699.0,0.287966
3,-545.0,-651,NaN,NaN,1917.0,1921.0,NaN,NaN,NaN,1933.0,...,0.839837,1.001937,47.0,1.627964,NaN,NaN,-814.0,-820.0,-620.0,0.323835
4,-512.0,-424,NaN,NaN,1924.0,1926.0,NaN,NaN,NaN,1935.0,...,0.883725,1.292644,207.0,1.915581,NaN,NaN,-774.0,-756.0,-408.0,0.327014
5,-386.0,-344,NaN,NaN,1930.0,1939.0,NaN,NaN,NaN,1936.0,...,1.692208,1.735587,344.0,1.985383,NaN,NaN,-739.0,-635.0,298.0,0.354079
6,-313.0,-336,NaN,NaN,1949.0,1946.0,NaN,NaN,NaN,1939.0,...,1.727131,2.671089,374.0,2.161510,NaN,NaN,-360.0,-627.0,330.0,0.422481
7,-237.0,-288,NaN,NaN,1951.0,1947.0,NaN,NaN,NaN,1942.0,...,1.792313,2.738624,486.0,2.622703,NaN,NaN,-277.0,-599.0,336.0,0.428466
8,84.0,-280,NaN,NaN,1971.0,1954.0,NaN,NaN,NaN,1961.0,...,1.794001,3.214647,590.0,2.639632,NaN,NaN,-267.0,-569.0,409.0,0.445474
9,207.0,-273,NaN,NaN,1978.0,1961.0,NaN,NaN,NaN,1967.0,...,2.279395,3.609155,741.0,2.755617,NaN,NaN,-67.0,-308.0,466.0,0.456875
10,247.0,-263,NaN,NaN,1982.0,1991.0,NaN,NaN,NaN,1979.0,...,2.722054,3.734873,804.0,2.845637,NaN,NaN,0.0,-223.0,712.0,0.467556
11,322.0,244,NaN,NaN,1984.0,1995.0,NaN,NaN,NaN,1981.0,...,2.949193,4.514902,816.0,3.357604,NaN,NaN,85.0,-8.0,716.0,0.506793
12,473.0,420,NaN,NaN,1990.0,1997.0,NaN,NaN,NaN,1982.0,...,2.958129,4.788923,841.0,3.730403,NaN,NaN,95.0,304.0,835.0,0.508727
13,610.0,477,NaN,NaN,1991.0,2004.0,NaN,NaN,NaN,1985.0,...,3.029325,5.632503,876.0,3.850108,NaN,NaN,129.0,395.0,NaN,0.572773
14,700.0,699,NaN,NaN,1996.0,2009.0,NaN,NaN,NaN,1986.0,...,3.739628,5.653015,884.0,4.132150,NaN,NaN,307.0,418.0,NaN,0.668122
15,977.0,750,NaN,NaN,2013.0,2011.0,NaN,NaN,NaN,1996.0,...,3.759982,5.695190,906.0,4.900165,NaN,NaN,375.0,485.0,NaN,0.670648
16,NaN,995,NaN,NaN,2014.0,2018.0,NaN,NaN,NaN,2000.0,...,4.420036,6.483875,995.0,5.279663,NaN,NaN,459.0,597.0,NaN,0.724022
17,NaN,1983,NaN,NaN,2015.0,NaN,NaN,NaN,NaN,2003.0,...,4.852605,7.441848,NaN,5.813818,NaN,NaN,568.0,742.0,NaN,0.750434
18,NaN,2005,NaN,NaN,2018.0,NaN,NaN,NaN,NaN,2007.0,...,5.354321,7.640019,NaN,6.123552,NaN,NaN,NaN,770.0,NaN,0.820334
19,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.959602

In [28]:
xlsx.iloc[:, 0].mean()

-48.0625

In [25]:
xlsx.describe()

,Var1,Var10,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,...,Var28,Var29,Var3,Var30,Var4,Var5,Var6,Var7,Var8,Var9
count,16.000000,20.000000,19.000000,20.000000,19.000000,17.000000,18.000000,18.000000,19.000000,19.000000,...,19.000000,19.000000,17.000000,19.000000,19.000000,17.000000,18.000000,19.000000,13.000000,20.000000
mean,-48.062500,197.450000,1954.631579,1952.750000,1965.263158,1962.058824,1949.500000,1949.333333,1948.631579,1959.736842,...,2.412791,3.599389,433.411765,3.069803,-75.842105,-267.058824,-220.333333,-179.947368,64.076923,0.499258
std,578.409598,959.319467,37.214410,39.435323,40.433542,38.954253,31.790213,33.210558,41.069332,35.577524,...,1.540922,2.435942,540.102775,1.634772,476.073438,539.232032,510.430268,607.291663,618.301095,0.216211
min,-865.000000,-955.000000,1893.000000,1900.000000,1899.000000,1907.000000,1893.000000,1896.000000,1893.000000,1895.000000,...,0.144162,0.125853,-853.000000,0.607891,-978.000000,-864.000000,-964.000000,-880.000000,-790.000000,0.110713
25%,-520.250000,-364.000000,1929.000000,1915.000000,1927.000000,1926.000000,1926.750000,1927.500000,1913.500000,1935.500000,...,1.287967,1.514115,207.000000,1.950482,-319.000000,-652.000000,-765.250000,-695.500000,-620.000000,0.347313
50%,-76.500000,-268.000000,1949.000000,1951.500000,1978.000000,1954.000000,1958.000000,1948.500000,1944.000000,1967.000000,...,2.279395,3.609155,590.000000,2.755617,-171.000000,-422.000000,-167.000000,-308.000000,330.000000,0.462216
75%,359.750000,711.750000,1979.000000,2000.000000,1993.500000,1997.000000,1970.250000,1968.250000,1986.500000,1985.500000,...,3.384477,5.642759,841.000000,3.991129,248.500000,38.000000,120.500000,406.500000,466.000000,0.668754
max,977.000000,2020.000000,2014.000000,2012.000000,2018.000000,2018.000000,2006.000000,2010.000000,2012.000000,2007.000000,...,5.354321,7.640019,995.000000,6.123552,991.000000,838.000000,568.000000,770.000000,835.000000,0.959602

In [29]:
xlsx.quantile(.99)

Var1      935.450000
Var10    2017.150000
Var11    2013.460000
Var12    2011.810000
Var13    2017.460000
Var14    2016.880000
Var15    2002.600000
Var16    2009.490000
Var17    2011.820000
Var18    2006.280000
Var19    2015.380000
Var2      869.080000
Var20    2007.920000
Var21       8.142596
Var22       3.479586
Var23       8.263239
Var24       7.438195
Var25       8.814193
Var26       5.333611
Var27      10.351857
Var28       5.264012
Var29       7.604348
Var3      980.760000
Var30       6.067800
Var4      903.340000
Var5      795.280000
Var6      549.470000
Var7      764.960000
Var8      820.720000
Var9        0.933141
Name: 0.99, dtype: float64

In [30]:
xlsx.sem()

Var1     144.602399
Var10    214.510354
Var11      8.537571
Var12      8.818006
Var13      9.276091
Var14      9.447794
Var15      7.493025
Var16      7.827804
Var17      9.421951
Var18      8.162044
Var19      7.703533
Var2     143.981936
Var20      8.341252
Var21      0.633664
Var22      0.294162
Var23      0.583970
Var24      0.460141
Var25      0.565617
Var26      0.350024
Var27      0.727704
Var28      0.353512
Var29      0.558843
Var3     130.994164
Var30      0.375043
Var4     109.218737
Var5     130.782978
Var6     120.309568
Var7     139.322263
Var8     171.485869
Var9       0.048346
dtype: float64

In [31]:
xlsx.corr()

,Var1,Var10,Var11,Var12,Var13,Var14,Var15,Var16,Var17,Var18,...,Var28,Var29,Var3,Var30,Var4,Var5,Var6,Var7,Var8,Var9
Var1,1.000000,0.079341,0.081968,0.633753,-0.153885,0.122071,0.178760,-0.662027,0.331541,0.425026,...,0.228547,0.060771,-0.206578,0.074095,-0.131614,-0.212124,0.173012,-0.004269,0.218205,-0.035853
Var10,0.079341,1.000000,-0.417012,0.196294,0.170735,0.137130,-0.136546,-0.133313,-0.015185,0.107319,...,0.166660,0.333852,0.234740,0.054465,-0.167884,-0.109388,0.103337,-0.130086,-0.173471,0.333039
Var11,0.081968,-0.417012,1.000000,0.373711,0.230765,0.351149,0.276446,0.133557,-0.108430,-0.418326,...,-0.103472,-0.239757,-0.083657,0.002409,0.452146,-0.057001,-0.377168,-0.218461,0.120071,0.017706
Var12,0.633753,0.196294,0.373711,1.000000,0.015264,0.282239,-0.102323,-0.445220,0.198421,-0.077292,...,-0.283745,0.104507,-0.224853,-0.282793,0.074785,-0.060083,0.165063,-0.542172,0.297889,0.070927
Var13,-0.153885,0.170735,0.230765,0.015264,1.000000,-0.047505,-0.314526,0.133589,-0.200803,-0.153401,...,-0.144560,-0.271446,0.001481,0.265092,0.307046,-0.308407,-0.134696,-0.284583,0.295760,-0.127979
Var14,0.122071,0.137130,0.351149,0.282239,-0.047505,1.000000,-0.081043,0.102692,-0.454445,-0.014900,...,0.165326,0.011448,0.236500,0.019654,0.091261,-0.211161,-0.271091,-0.450233,0.235650,0.002690
Var15,0.178760,-0.136546,0.276446,-0.102323,-0.314526,-0.081043,1.000000,-0.002340,0.219387,0.194235,...,0.272262,0.200110,-0.406655,-0.002480,0.195960,-0.275751,-0.146248,0.459631,-0.520691,0.351328
Var16,-0.662027,-0.133313,0.133557,-0.445220,0.133589,0.102692,-0.002340,1.000000,-0.121354,-0.458786,...,0.277735,-0.184703,0.087304,0.016404,0.378981,0.288220,-0.215896,0.097137,-0.076769,-0.349034
Var17,0.331541,-0.015185,-0.108430,0.198421,-0.200803,-0.454445,0.219387,-0.121354,1.000000,-0.129839,...,0.234026,0.430715,-0.519679,0.061117,0.011689,0.053022,-0.036545,0.453596,-0.089796,-0.062856
Var18,0.425026,0.107319,-0.418326,-0.077292,-0.153401,-0.014900,0.194235,-0.458786,-0.129839,1.000000,...,-0.015846,0.049916,-0.429379,-0.068182,-0.420283,-0.361677,-0.047059,-0.014506,-0.104700,0.030213
Var19,0.368644,-0.405813,0.486593,0.191201,-0.042183,0.323824,0.050035,-0.143893,-0.242022,-0.125723,...,-0.342658,-0.380404,0.305868,-0.075072,0.301275,0.222980,0.048666,-0.274311,0.388842,-0.066947
Var2,-0.156303,-0.051509,-0.120868,0.023558,0.097243,0.552138,-0.600672,0.120423,-0.496542,0.187648,...,-0.053121,-0.096798,0.190415,0.093343,-0.058767,-0.196312,-0.061718,-0.589240,0.761010,-0.133751
Var20,-0.017034,-0.186734,0.130198,-0.362763,0.201916,0.152920,-0.088640,0.411406,0.005101,-0.351075,...,0.296888,-0.469827,0.270872,0.140028,0.340648,0.444998,-0.018202,0.238165,0.118260,-0.397188
Var21,0.085405,0.320328,-0.386926,0.153912,-0.284119,-0.027012,0.082866,-0.236711,0.251067,0.141479,...,0.219184,0.953065,-0.336161,0.088468,-0.297742,-0.531153,-0.138916,0.218710,-0.308777,0.310096
Var22,0.064416,-0.358131,0.088894,-0.078230,-0.112706,-0.336900,0.038132,0.304648,0.034548,-0.380281,...,0.713065,-0.000672,0.212650,-0.335255,0.337323,0.194419,0.136794,0.276862,-0.449963,-0.066889
Var23,0.163215,0.267791,-0.259314,0.187378,-0.242297,0.061598,0.023600,-0.259181,0.241732,0.079663,...,0.223386,0.932139,-0.226117,0.131790,-0.215220,-0.525380,-0.202188,0.147768,-0.351623,0.282908
Var24,0.202681,0.083159,0.081943,-0.253487,0.198445,-0.049164,0.219627,0.158705,0.113206,-0.022810,...,0.837472,-0.001544,-0.085192,0.984998,-0.166462,-0.429269,-0.148598,0.497181,0.138910,-0.301516
Var25,0.203765,0.329233,-0.312815,0.108296,-0.278306,0.029167,0.140055,-0.244251,0.300439,0.131770,...,0.421488,0.988963,-0.300350,0.198577,-0.138211,-0.588425,-0.256659,0.333959,-0.338988,0.258482
Var26,0.193085,0.166513,-0.170121,0.246980,-0.239086,-0.037315,-0.009195,-0.364862,0.092419,0.074403,...,0.104601,0.759511,-0.105685,-0.091026,0.007954,-0.421581,-0.111699,0.143782,-0.369691,0.340187
Var27,0.193693,0.335619,-0.325735,0.142692,-0.273226,0.055229,0.091690,-0.254661,0.287863,0.138018,...,0.359107,0.981863,-0.295994,0.186218,-0.114317,-0.582037,-0.245798,0.265912,-0.332906,0.262745
Var28,0.228547,0.166660,-0.103472,-0.283745,-0.144560,0.165326,0.272262,0.277735,0.234026,-0.015846,...,1.000000,0.368881,-0.104286,0.586106,-0.155980,-0.435344,-0.303173,0.591193,-0.139941,-0.237596
Var29,0.060771,0.333852,-0.239757,0.104507,-0.271446,0.011448,0.200110,-0.184703,0.430715,0.049916,...,0.368881,1.000000,-0.281433,0.202981,-0.073762,-0.580858,-0.467297,0.273278,-0.444501,0.264935
Var3,-0.206578,0.234740,-0.083657,-0.224853,0.001481,0.236500,-0.406655,0.087304,-0.519679,-0.429379,...,-0.104286,-0.281433,1.000000,-0.013262,0.041230,0.509680,0.154940,-0.268423,-0.142758,0.192441
Var30,0.074095,0.054465,0.002409,-0.282793,0.265092,0.019654,-0.002480,0.016404,0.061117,-0.068182,...,0.586106,0.202981,-0.013262,1.000000,-0.018357,-0.532491,-0.289255,0.318679,0.303204,-0.118357
Var4,-0.131614,-0.167884,0.452146,0.074785,0.307046,0.091261,0.195960,0.378981,0.011689,-0.420283,...,-0.155980,-0.073762,0.041230,-0.018357,1.000000,0.076417,-0.340597,-0.148318,-0.411905,0.084102
Var5,-0.212124,-0.109388,-0.057001,-0.060083,-0.308407,-0.211161,-0.275751,0.288220,0.053022,-0.361677,...,-0.435344,-0.580858,0.509680,-0.532491,0.076417,1.000000,0.530452,-0.127441,0.040064,-0.063513
Var6,0.173012,0.103337,-0.377168,0.165063,-0.134696,-0.271091,-0.146248,-0.215896,-0.036545,-0.047059,...,-0.303173,-0.467297,0.154940,-0.289255,-0.340597,0.530452,1.000000,0.001307,0.466615,0.176249
Var7,-0.004269,-0.130086,-0.218461,-0.542172,-0.284583,-0.450233,0.459631,0.097137,0.453596,-0.014506,...,0.591193,0.273278,-0.268423,0.318679,-0.148318,-0.127441,0.001307,1.000000,-0.355450,0.025656
Var8,0.218205,-0.173471,0.120071,0.297889,0.295760,0.235650,-0.520691,-0.076769,-0.089796,-0.104700,...,-0.139941,-0.444501,-0.142758,0.303204,-0.411905,0.040064,0.466615,-0.355450,1.000000,-0.227608
Var9,-0.035853,0.333039,0.017706,0.070927,-0.127979,0.002690,0.351328,-0.349034,-0.062856,0.030213,...,-0.237596,0.264935,0.192441,-0.118357,0.084102,-0.063513,0.176249,0.025656,-0.227608,1.000000

In [ ]:
# Guardar los descriptivos en EXCEL
xlsx.describe().to_excel('Descrip_Ejemplo.xlsx')

In [33]:
# Queremos guardar muchas cosas
## Base Completa
## Media
## Mediana
## Correlación
## Etc

In [ ]:
with pd.ExcelWriter('Descrip_Otro_Ejemplo.xlsx') as writer:
    xlsx.to_excel(writer, 'Base Completa')
    xlsx.mean().to_excel(writer, 'Media')
    xlsx.median().to_excel(writer, 'Mediana')
    xlsx.corr().to_excel(writer, 'Correlación')

In [ ]:
# ¿Cómo ploteamos todo?
xlsx.mean().plot()

In [ ]:
# Aumento del tamaño
xlsx.mean().plot(figsize=(15, 8))

In [56]:
# Como arreglamos bonito esta gráfica
import matplotlib.pyplot as plt

In [ ]:
xlsx.mean().plot(figsize=(15, 8))
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns)) #checar plt.xticks

In [ ]:
xlsx.mean().plot(figsize=(15, 8))
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns), rotation='vertical')

In [ ]:
xlsx.mean().plot(figsize=(15, 8))
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns), rotation=90)

In [ ]:
# Agregar etiqueta en los ejes
xlsx.mean().plot(figsize=(15, 8))
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns), rotation='vertical')
plt.xlabel('Columnas')
plt.ylabel('Datos de las columnas')

In [ ]:
xlsx.mean().plot(figsize=(10, 8))
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns), rotation='vertical')
plt.xlabel('Columnas', fontsize=20)
plt.ylabel('Datos de las columnas', fontsize=20)

In [ ]:
# Aumento del tamaño de las ticks
xlsx.mean().plot(figsize=(15, 8))
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns), rotation='vertical', fontsize=15)
plt.xlabel('Columnas', fontsize=20)
plt.ylabel('Datos de las columnas', fontsize=20)
plt.yticks(fontsize=15)

In [ ]:
# Aumento del tamaño de las ticks
xlsx.mean().plot(figsize=(15, 8), color='r')
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns), rotation='vertical', fontsize=15)
plt.xlabel('Columnas', fontsize=20)
plt.ylabel('Datos de las columnas', fontsize=20)
plt.yticks(range(int(xlsx.mean().min()) - 100, int(xlsx.mean().max()) + 100, 100), fontsize=15)
plt.grid()

In [ ]:
# Guardar gráficas
xlsx.mean().plot(figsize=(15, 8), color='r')
plt.xticks(range(len(xlsx.columns)), list(xlsx.columns), rotation='vertical', fontsize=15)
plt.xlabel('Columnas', fontsize=20)
plt.ylabel('Datos de las columnas', fontsize=20)
plt.yticks(range(int(xlsx.mean().min()) - 100, int(xlsx.mean().max()) + 100, 100), fontsize=15)
plt.grid()
plt.savefig('Gráfica de ejemplo.png', bbox_inches='tight')
plt.show()

In [ ]:
# Las columnas no tienen orden ¿Cómo se ordenan?
## Uso de iloc
for n, c in enumerate(xlsx.columns):
    print(n, c)

In [ ]:
columnas_ordenadas = sorted(xlsx.columns, key=lambda x:len(x))

for n, c in enumerate(columnas_ordenadas):
    print(n, c)

In [ ]:
xlsx_iloc1 = xlsx.iloc[:, [0, 11, 22, 24, 25, 26, 27, 28, 29, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23]]
xlsx_iloc1.columns

In [ ]:
xlsx_iloc1

In [ ]:
xlsx_iloc1.corr()

In [85]:
# ¿Cómo graficamos esta correlación?
import seaborn as sns; sns.set()

In [ ]:
plt.figure(figsize=(10, 8))
ax = sns.heatmap(xlsx_iloc1)

In [ ]:
plt.figure(figsize=(10, 8))
ax = sns.heatmap(xlsx_iloc1, vmin=0, vmax=1)

In [ ]:
plt.figure(figsize=(10, 8))
ax = sns.heatmap(xlsx_iloc1, center=0)

In [ ]:
plt.figure(figsize=(20, 18))
ax = sns.heatmap(xlsx_iloc1, annot=True, fmt='f')

In [ ]:
plt.figure(figsize=(20, 18))
ax = sns.heatmap(xlsx_iloc1.round(1), annot=True, fmt='f')

In [ ]:
plt.figure(figsize=(10, 8))
ax = sns.heatmap(xlsx_iloc1, linewidths=.5)

In [ ]:
plt.figure(figsize=(10, 8))
ax = sns.heatmap(xlsx_iloc1, vmin=0, vmax=1, linewidths=.5)

In [ ]:
plt.figure(figsize=(10, 8))
ax = sns.heatmap(xlsx_iloc1, vmin=0, vmax=1)

In [ ]:
# ¿Cómo se usa el loc?

In [ ]:
xlsx.head()

In [ ]:
xlsx.columns

In [ ]:
xlsx_loc1 = xlsx.loc[:, columnas_ordenadas]
xlsx_loc1.head()

In [ ]:
xlsx_loc1.mean().plot(figsize=(10, 8))

In [ ]:
xlsx_loc1.mean().plot(figsize=(10, 8))
plt.xticks(range(len(xlsx_loc1.columns)), list(xlsx_loc1.columns), rotation='vertical', fontsize=15)
plt.xlabel('Columnas', fontsize=20)
plt.ylabel('Datos de las columnas', fontsize=20)
plt.yticks(range(-2000, 2001, 500), fontsize=15)

## Hagamos el ejercicio juntos

In [ ]:
# ¿Qué tengo que escribir?

## 2do Dataset. Datos de la Comunidad.

In [ ]:
from glob import glob as gg
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import pandas.plotting as pdplt

In [ ]:
files_csv = sorted(gg('*.csv'))
files_csv

In [ ]:
iris = pd.read_csv(files_csv[0])
iris

In [ ]:
iris.columns = iris.columns.str.replace('.', '_')
iris

In [ ]:
iris.info()

In [ ]:
iris.axes

In [ ]:
iris.head()

In [ ]:
iris.tail()

In [12]:
# ¿Qué es un Series? y ¿Qué es un DataFrame?
# Uso del método iloc y loc


### Método iloc

## SERIES
ejemplo = iris.iloc[0] # solo valores de la fila
#ejemplo = iris.iloc[0, 0] # solo valores de la fila y la columna
#ejemplo = iris.iloc[:, 0] # solo valores de toda la fila y 1 columna

## DATAFRAME
#ejemplo = iris.iloc[:, 0:1] # No es lo mismo que [:, 0]
#ejemplo = iris.iloc[:20, 0:2]

In [ ]:
print(iris.head())
print(' ')
print(type(ejemplo))
ejemplo

In [14]:
### Método loc

## SERIES
#ejemplo = iris.loc[0] # solo valores de la fila
## ¿Por qué si tiene número?

ejemplo = iris.loc[0, 'sepal_length'] # solo valores de la fila y la columna
#ejemplo = iris.iloc[:, 'sepal_width'] # solo valores de toda la fila y 1 columna

## DATAFRAME
#ejemplo = iris.iloc[:, 'sepal_length':'sepal_width'] # No es lo mismo que [:, 'sepal_length']
#ejemplo = iris.iloc[:20, 'sepal_length':'petal_length']

In [ ]:
print(iris.axes)
print(' ')
print(iris.head())
print(' ')
print(type(ejemplo))
print(' ')
ejemplo

In [ ]:
## PARA QUE QUEDE MÁS CLARO
indice_uno = ('Uno ' * round((len(iris.index)/3))).split()
indice_dos = ('Dos ' * round((len(iris.index)/3))).split()
indice_tres = ('Tres ' * round((len(iris.index)/3))).split()

In [ ]:
indice_nuevo = indice_uno + indice_dos + indice_tres
print(indice_nuevo)

In [ ]:
iris.index = indice_nuevo
iris

In [20]:
### Método loc

## SERIES
ejemplo = iris.loc['Uno'] # solo valores de la fila

#ejemplo = iris.loc['Dos', 'sepal_length'] # solo valores de la fila y la columna
#ejemplo = iris.loc[:, 'sepal_width'] # solo valores de toda la fila y 1 columna

## DATAFRAME
#ejemplo = iris.loc['Uno':'Dos', 'sepal_length':'sepal_width'] # No es lo mismo que [:, 'sepal_length']
#ejemplo = iris.loc[:20, 'sepal_length':'petal_length'] # ¿Por qué no sale?

In [ ]:
print(iris.axes)
print(' ')
print(type(ejemplo))
print(' ')
ejemplo

In [ ]:
## ¿Cómo saber cuantos tipos de "variety" hay?
variedad = iris.variety.unique()
variedad

In [ ]:
## Flitrar las bases
# Por la columna "variety"

setosa = iris.loc[iris['variety'] == 'Setosa']
versicolor = iris.loc[iris['variety'] == 'Versicolor']
virginica = iris.loc[iris['variety'] == 'Virginica']

In [ ]:
setosa

In [ ]:
plt.figure(figsize=(20, 16), dpi=80)
sns.FacetGrid(iris,hue="variety",size=3).map(sns.distplot,"petal_length").add_legend()
sns.FacetGrid(iris,hue="variety",size=3).map(sns.distplot,"petal_width").add_legend()
sns.FacetGrid(iris,hue="variety",size=3).map(sns.distplot,"sepal_length").add_legend()
sns.FacetGrid(iris,hue="variety",size=3).map(sns.distplot,"sepal_width").add_legend()
plt.show()

In [ ]:
plt.figure(figsize=(10, 8))
sns.boxplot(x="variety",y="petal_length",data=iris)
plt.show()

In [ ]:
plt.figure(figsize=(10, 8))
sns.violinplot(x="variety",y="petal_length",data=iris)
plt.show()

In [ ]:
plt.figure(figsize=(15, 13))
sns.set_style("whitegrid")
sns.pairplot(iris, hue="variety", size=3);
plt.show()

In [ ]:
## Pandas tiene su propia libería para plotear
iris.plot(kind='box', subplots=True, layout=(2,2), sharex=False, sharey=False, figsize=(10, 8))
plt.show()

In [ ]:
iris.plot.box(subplots=True, layout=(2,2), sharex=False, sharey=False, figsize=(10, 8))
plt.show()

In [ ]:
iris.hist(figsize=(10, 8))

In [ ]:
pdplt.scatter_matrix(iris[iris.columns[0:4]], figsize=(15, 12))
plt.show()

In [ ]:
# Agrupandolos
por_tipo_media = iris.groupby('variety').mean()
print(por_tipo_media)

In [ ]:
por_tipo_corr = iris.groupby('variety').corr() # method{'pearson', 'kendall', 'spearman'}
print(por_tipo_corr)

In [ ]:
iris.groupby('variety').plot(figsize=(10, 8))

In [ ]:
# ¿Cómo graficamos esta correlación?
plt.figure(figsize=(10, 8))
sns.heatmap(iris.iloc[:, :4])#, vmin=0, vmax=1)

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(setosa.iloc[:, :4])#, vmin=0, vmax=1)

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(setosa.iloc[:, :4])#, vmin=0, vmax=1)#, annot=True)

In [ ]:
iris

In [33]:
from statsmodels.formula.api import ols

In [ ]:
model = ols('sepal_width ~ variety + petal_length', iris).fit()
print(model.summary())

In [ ]:
# Guardar el módelo
with open('OLS-Iris.txt', 'w') as file_txt:
    file_txt.write(str(model.summary()))
    file_txt.close()

In [ ]:
sns.pairplot(iris, vars=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], kind='reg', hue='variety')

In [ ]:
sns.lmplot(y='sepal_length', x='petal_length', data=iris)

In [ ]:
### COMO DEBERÍA DE SER

tipos = pd.Categorical(iris['variety'])

pdplt.scatter_matrix(iris, c=tipos.codes, marker='o', figsize=(10, 8))

In [ ]:
model = ols('sepal_width ~ variety + petal_length', iris).fit()
print(model.summary())
print(' ')
print('Probando la diferencia entre el efecto de versicolor y virginica')
print(model.f_test([0, 1, -1, 0]))
plt.show()

## 3er Dataset. Datos de tesis.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob as gg
from tqdm import tqdm
import time

In [ ]:
# Búsqueda de las Bases Reales
files_txt = sorted(gg('*.txt'))
files_txt

In [ ]:
with open(files_txt[0], 'r') as file:
    print(file.readlines(1000))
    file.close()

In [ ]:
file_txt = open(files_txt[0], 'r')
print(file_txt.readlines(200))

In [ ]:
file_txt = pd.read_csv(files_txt[0])
file_txt.head(10)

In [ ]:
file_txt = pd.read_csv(files_txt[0], sep='\t')
file_txt.head(10)

In [ ]:
file_txt = pd.read_csv(files_txt[0], sep='\t', header=6)
file_txt.head()

In [ ]:
file_txt.info()

In [ ]:
file_txt.shape[0] * file_txt.shape[1]

In [ ]:
'{:,}'.format(file_txt.shape[0] * file_txt.shape[1])

In [ ]:
sujeto = pd.concat([file_txt.iloc[:, 0:10], file_txt.iloc[:, 47]], axis=1)
sujeto.head()

In [ ]:
sujeto.info()

In [103]:
sujeto.columns = sujeto.columns.str.replace(' ', '_')

In [ ]:
sujeto.info()

In [ ]:
'{:,}'.format(sujeto.shape[0] * sujeto.shape[1])

In [ ]:
sujeto['Video_Time'] = pd.to_datetime(sujeto['Video_Time'])
sujeto.head()

In [ ]:
sujeto.info()

In [ ]:
sujeto['Fecha'] = sujeto['Video_Time'].dt.date
sujeto.head()

In [ ]:
sujeto['Hora'] = sujeto['Video_Time'].dt.time
sujeto.head()

In [ ]:
sujeto.head()

In [ ]:
sujeto.info()

In [114]:
objetos = []
for columna in sujeto.columns:
    for palabra in sujeto[columna].unique():
        if type(palabra) == str:
            objetos.append(palabra)
lista1 = list(set(objetos))
lista2 = np.empty(len(lista1))
lista2[:] = np.nan
objetos = dict(zip(lista1, lista2))

In [ ]:
objetos

In [ ]:
sujeto['Neutral'].unique()

In [ ]:
pd.to_numeric(sujeto['Neutral'], errors='coerce')

In [118]:
ejemplo1 = sujeto.copy()

for columna in ejemplo1.columns:
    ejemplo1[columna] = pd.to_numeric(ejemplo1[columna], errors='coerce')

In [ ]:
ejemplo1.head()

In [ ]:
ejemplo2 = sujeto.copy()

for columna in ejemplo2.columns[1:11]:
    ejemplo2[columna] = pd.to_numeric(ejemplo2[columna], errors='coerce')

In [ ]:
ejemplo2.head()

In [ ]:
ejemplo2.Neutral.unique()

In [ ]:
ejemplo2.info()

In [125]:
for columna in sujeto.columns[1:11]:
    sujeto[columna] = pd.to_numeric(sujeto[columna], errors='coerce')

In [ ]:
sujeto.head()

In [ ]:
sujeto.info()

In [129]:
sujeto = sujeto.set_index('Video_Time')

In [ ]:
sujeto

In [ ]:
sujeto.info()

In [ ]:
# ¿Cómo sabemos de quien es esa base?
files_txt[0] # Ajá, este es el usuario, ¿Cómo le hacemos para incluirlo en la base?

In [ ]:
files_txt[0][:-4]

In [136]:
sujeto['ID'] = files_txt[0][:-4]

In [ ]:
sujeto.head()

In [ ]:
sujeto.info()

In [ ]:
sujeto.describe()

In [ ]:
sujeto.describe(include='all')

### Todos los TXT

In [ ]:
files_txt

In [ ]:
bases = []

for txt in tqdm(files_txt):
    file_txt = pd.read_csv(txt, sep='\t', header=6)
    sujeto = pd.concat([file_txt.iloc[:, 0:10], file_txt.iloc[:, 47]], axis=1)
    sujeto.columns = sujeto.columns.str.replace(' ', '_')
    sujeto['Video_Time'] = pd.to_datetime(sujeto['Video_Time'])
    sujeto['Fecha'] = sujeto['Video_Time'].dt.date
    sujeto['Hora'] = sujeto['Video_Time'].dt.time
    for columna in sujeto.columns[1:11]:
        sujeto[columna] = pd.to_numeric(sujeto[columna], errors='coerce')
    sujeto = sujeto.set_index('Video_Time')
    sujeto['ID'] = txt[:-4]
    bases.append(sujeto)
    time.sleep(0.01)

sujetos = pd.concat(bases)

In [ ]:
sujetos.head()

In [25]:
for txt in files_txt:
    print(txt)

Control1.txt
Control2.txt
Paciente1.txt
Paciente2.txt

In [30]:
file = open(files_txt[0], 'r').readlines(300)
file

['Video analysis detailed log\n',
 '\n',
 'Face Model:\tGeneral\n',
 'Calibration:\tContinuous\n',
 'Start time:\t22/08/2017 16:23:08.356\n',
 'Filename:\tD:\\Javier-Controles\\4 Ago 2017\\Facial\\20170804\\20170804\\Sujeto1f_xvid.avi\n',
 'Frame rate:\t25\n',
 '\n',
 'Video Time\tNeutral\tHappy\tSad\tAngry\tSurprised\tScared\tDisgusted\tContempt\tValence\tArousal\tGender\tAge\tBeard\tMoustache\tGlasses\tEthnicity\tY - Head Orientation\tX - Head Orientation\tZ - Head Orientation\tMouth\tLeft Eye\tRight Eye\tLeft Eyebrow\tRight Eyebrow\tGaze Direction\tIdentity\tAction Unit 01 - Inner Brow Raiser\tAction Unit 02 - Outer Brow Raiser\tAction Unit 04 - Brow Lowerer\tAction Unit 05 - Upper Lid Raiser\tAction Unit 06 - Cheek Raiser\tAction Unit 07 - Lid Tightener\tAction Unit 09 - Nose Wrinkler\tAction Unit 10 - Upper Lip Raiser\tAction Unit 12 - Lip Corner Puller\tAction Unit 14 - Dimpler\tAction Unit 15 - Lip Corner Depressor\tAction Unit 17 - Chin Raiser\tAction Unit 18 - Lip Puckerer\tAction Unit 20 - Lip Stretcher\tAction Unit 23 - Lip Tightener\tAction Unit 24 - Lip Pressor\tAction Unit 25 - Lips Part\tAction Unit 26 - Jaw Drop\tAction Unit 27 - Mouth Stretch\tAction Unit 43 - Eyes Closed\tHeart Rate\tStimulus\tEvent Marker\n']

In [34]:
file[8:]

['Video Time\tNeutral\tHappy\tSad\tAngry\tSurprised\tScared\tDisgusted\tContempt\tValence\tArousal\tGender\tAge\tBeard\tMoustache\tGlasses\tEthnicity\tY - Head Orientation\tX - Head Orientation\tZ - Head Orientation\tMouth\tLeft Eye\tRight Eye\tLeft Eyebrow\tRight Eyebrow\tGaze Direction\tIdentity\tAction Unit 01 - Inner Brow Raiser\tAction Unit 02 - Outer Brow Raiser\tAction Unit 04 - Brow Lowerer\tAction Unit 05 - Upper Lid Raiser\tAction Unit 06 - Cheek Raiser\tAction Unit 07 - Lid Tightener\tAction Unit 09 - Nose Wrinkler\tAction Unit 10 - Upper Lip Raiser\tAction Unit 12 - Lip Corner Puller\tAction Unit 14 - Dimpler\tAction Unit 15 - Lip Corner Depressor\tAction Unit 17 - Chin Raiser\tAction Unit 18 - Lip Puckerer\tAction Unit 20 - Lip Stretcher\tAction Unit 23 - Lip Tightener\tAction Unit 24 - Lip Pressor\tAction Unit 25 - Lips Part\tAction Unit 26 - Jaw Drop\tAction Unit 27 - Mouth Stretch\tAction Unit 43 - Eyes Closed\tHeart Rate\tStimulus\tEvent Marker\n']

In [35]:
list(file[8:])

['Video Time\tNeutral\tHappy\tSad\tAngry\tSurprised\tScared\tDisgusted\tContempt\tValence\tArousal\tGender\tAge\tBeard\tMoustache\tGlasses\tEthnicity\tY - Head Orientation\tX - Head Orientation\tZ - Head Orientation\tMouth\tLeft Eye\tRight Eye\tLeft Eyebrow\tRight Eyebrow\tGaze Direction\tIdentity\tAction Unit 01 - Inner Brow Raiser\tAction Unit 02 - Outer Brow Raiser\tAction Unit 04 - Brow Lowerer\tAction Unit 05 - Upper Lid Raiser\tAction Unit 06 - Cheek Raiser\tAction Unit 07 - Lid Tightener\tAction Unit 09 - Nose Wrinkler\tAction Unit 10 - Upper Lip Raiser\tAction Unit 12 - Lip Corner Puller\tAction Unit 14 - Dimpler\tAction Unit 15 - Lip Corner Depressor\tAction Unit 17 - Chin Raiser\tAction Unit 18 - Lip Puckerer\tAction Unit 20 - Lip Stretcher\tAction Unit 23 - Lip Tightener\tAction Unit 24 - Lip Pressor\tAction Unit 25 - Lips Part\tAction Unit 26 - Jaw Drop\tAction Unit 27 - Mouth Stretch\tAction Unit 43 - Eyes Closed\tHeart Rate\tStimulus\tEvent Marker\n']

In [39]:
list(file[8:])

['Video Time\tNeutral\tHappy\tSad\tAngry\tSurprised\tScared\tDisgusted\tContempt\tValence\tArousal\tGender\tAge\tBeard\tMoustache\tGlasses\tEthnicity\tY - Head Orientation\tX - Head Orientation\tZ - Head Orientation\tMouth\tLeft Eye\tRight Eye\tLeft Eyebrow\tRight Eyebrow\tGaze Direction\tIdentity\tAction Unit 01 - Inner Brow Raiser\tAction Unit 02 - Outer Brow Raiser\tAction Unit 04 - Brow Lowerer\tAction Unit 05 - Upper Lid Raiser\tAction Unit 06 - Cheek Raiser\tAction Unit 07 - Lid Tightener\tAction Unit 09 - Nose Wrinkler\tAction Unit 10 - Upper Lip Raiser\tAction Unit 12 - Lip Corner Puller\tAction Unit 14 - Dimpler\tAction Unit 15 - Lip Corner Depressor\tAction Unit 17 - Chin Raiser\tAction Unit 18 - Lip Puckerer\tAction Unit 20 - Lip Stretcher\tAction Unit 23 - Lip Tightener\tAction Unit 24 - Lip Pressor\tAction Unit 25 - Lips Part\tAction Unit 26 - Jaw Drop\tAction Unit 27 - Mouth Stretch\tAction Unit 43 - Eyes Closed\tHeart Rate\tStimulus\tEvent Marker\n']

In [18]:
columnas_necesarias = ['Video Time', 'Neutral', 'Happy', 'Sad', 'Angry', 'Surprised', 'Scared', 'Disgusted', 'Contempt', 'Valence', 'Heart Rate']

In [18]:
bases = []

for txt in tqdm(files_txt):
    file_txt = pd.read_csv(txt, sep='\t', header=6)
    #sujeto = pd.concat([file_txt.iloc[:, 0:10], file_txt.iloc[:, 47]], axis=1)
    sujeto = file_txt.loc[:, columnas_necesarias]
    sujeto.columns = sujeto.columns.str.replace(' ', '_')
    sujeto['Video_Time'] = pd.to_datetime(sujeto['Video_Time'])
    sujeto['Fecha'] = sujeto['Video_Time'].dt.date
    sujeto['Hora'] = sujeto['Video_Time'].dt.time
    for columna in sujeto.columns[1:11]:
        sujeto[columna] = pd.to_numeric(sujeto[columna], errors='coerce')
    sujeto = sujeto.set_index('Video_Time')
    sujeto['ID'] = txt[:-4]
    bases.append(sujeto)
    time.sleep(0.01)

In [ ]:
bases

In [18]:
sujetos = pd.concat(bases)

100%|██████████| 4/4 [00:08<00:00,  2.08s/it]

In [19]:
sujetos

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted,Contempt,Valence,Heart_Rate,Fecha,Hora,ID
Video_Time,,,,,,,,,,,,,
2020-08-25 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:00:00,Control1
2020-08-25 00:00:00.040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:00:00.040000,Control1
2020-08-25 00:00:00.080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:00:00.080000,Control1
2020-08-25 00:00:00.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:00:00.120000,Control1
2020-08-25 00:00:00.160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:00:00.160000,Control1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-25 00:25:25.560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:25:25.560000,Paciente2
2020-08-25 00:25:25.679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:25:25.679000,Paciente2
2020-08-25 00:25:25.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:25:25.800000,Paciente2
2020-08-25 00:25:25.919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:25:25.919000,Paciente2
2020-08-25 00:25:26.040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-25,00:25:26.040000,Paciente2

In [21]:
'{:,}'.format(sujetos.shape[0] * sujetos.shape[1])

'1,954,238'

In [22]:
sujetos.ID.unique()

array(['Control1', 'Control2', 'Paciente1', 'Paciente2'], dtype=object)

In [23]:
sujeto.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12718 entries, 2020-08-25 00:00:00 to 2020-08-25 00:25:26.040000
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Neutral     9316 non-null   float64
 1   Happy       9316 non-null   float64
 2   Sad         9316 non-null   float64
 3   Angry       9316 non-null   float64
 4   Surprised   9316 non-null   float64
 5   Scared      9316 non-null   float64
 6   Disgusted   9316 non-null   float64
 7   Contempt    9316 non-null   float64
 8   Valence     9316 non-null   float64
 9   Heart_Rate  8799 non-null   float64
 10  Fecha       12718 non-null  object
 11  Hora        12718 non-null  object
 12  ID          12718 non-null  object
dtypes: float64(10), object(3)
memory usage: 1.4+ MB