In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob as gg
from pandas_profiling import ProfileReport

In [2]:
file_xslx = sorted(gg('SSPS_*CHILE*.xlsx'))
file_xslx

['SSPS_SUICIDIOSCHILE.xlsx']

In [3]:
chile = pd.read_excel(file_xslx[-1])
print(chile.shape)
chile.head()

(19329, 55)

,DIA_NAC,MES_NAC,AÑONACIM,ANO1_NAC,ANO2_NAC,SEXO,EST_CIVIL,EDAD_TIPO,EDAD_CANT,RENGOETARIO_N,...,FechaD,FechaDesp,FECHA_DEF.1,difa,difb,difc,dist_absoluta,distancia_final,mes_suicidio,bimestre
0,13,4,1985,19,85,2,1,1,21,3,...,2007-04-13,2008-04-13,2007-01-03,-265,100,466,100,100,4,2
1,17,12,1975,19,75,1,1,1,31,3,...,2007-12-17,2008-12-17,2007-01-07,-21,344,710,21,-21,1,1
2,9,6,1956,19,56,1,2,1,51,4,...,2007-06-09,2008-06-09,2007-09-16,-464,-99,267,99,-99,4,2
3,28,9,1983,19,83,1,1,1,23,3,...,2007-09-28,2008-09-28,2007-01-02,-96,269,635,96,-96,4,2
4,24,4,1984,19,84,1,1,1,22,3,...,2007-04-24,2008-04-24,2007-01-10,-261,104,470,104,104,4,2

In [4]:
perfil = ProfileReport(chile, title="Reporte Suicidios", explorative=True)
perfil.to_file("Suicidios_Chile.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=69.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

# Diferencia y correlación de sucidio por AÑO, EDAD, SEXO; columna; 'MEC_SUICIDA', 'ESTACION', 'RANGO ETARIO', 'EDAD_CANT', 'SUBTIPO_MEC'

In [5]:
chile.columns

Index(['DIA_NAC', 'MES_NAC', 'AÑONACIM', 'ANO1_NAC', 'ANO2_NAC', 'SEXO',
       'EST_CIVIL', 'EDAD_TIPO', 'EDAD_CANT', 'RENGOETARIO_N', 'RANGO ETARIO',
       'EDAD_LABORAL', 'CURSO_INS', 'NIVEL_INS', 'ACTIVIDAD', 'OCUPACION',
       'CATEGORIA', 'FECHA_DEF', 'ESTACION N', 'ESTACION', 'DIA_SEMANA',
       'DIA_DEF', 'MES_DEF', 'ANO_DEF', 'LUGAR_DEF', 'REG_RES', 'SERV_RES',
       'COMUNA', 'DESC_COMUNA', 'URB_RURAL', 'DIAG1', 'DIAG2', 'MEC_SUICIDA',
       'SUBTIPO_MEC', 'AT_MEDICA', 'CAL_MEDICO', 'COD_MENOR', 'DIA_NAC.1',
       'MES_NAC.1', 'ANO1', 'ANO2', 'DIA_DEF.1', 'MES_DEF.1', 'ANO_DEF.1',
       'FechaA', 'FechaD', 'FechaDesp', 'FECHA_DEF.1', 'difa', 'difb', 'difc',
       'dist_absoluta', 'distancia_final', 'mes_suicidio', 'bimestre'],
      dtype='object')

In [ ]:
chile.info()

## Convertir columnas/variables a categoricas

In [15]:
col_cat = ['SEXO', 'EST_CIVIL', 'EDAD_TIPO', 'EDAD_CANT', 'RENGOETARIO_N', 'RANGO ETARIO', 'ACTIVIDAD', 'OCUPACION', 'CATEGORIA', 'ESTACION N', 'ESTACION']
for col in col_cat:
    chile[col] = chile[col].astype('category')

In [ ]:
chile.info()